<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=latin-ext" rel="stylesheet">

    <link rel="icon" href="/media/Images/logo.jpg">
    <title>Food Feast | Safe & healthy food</title>
</head>
<body class="">

    <nav class="navigation">

            <ul class="head-nav mb-0">

                    <li class="head-nav__item">
                          <a href="/" class="head-nav__link">
                              <div class="head-nav__logo">
                                    <img class="head-nav__logo" src="/media/images/logo.jpg">
                              </div>
                              
                          </a>
                    </li>
                    <% if(user) { %>
            
                    <li class="head-nav__item">
                        <a href="/users/profile" class="head-nav__link">
                            Profile
                        </a>
                    </li>
            
                    <li class="head-nav__item">
                        <a href="/users/logout" class="head-nav__link">
                            Logout
                        </a>
                   </li>
                   <% } else { %>                    
            
            
                   <li class="head-nav__item">
                    
                            <a href="/" class="head-nav__link">
                                Home
                            </a>
                   </li>
                  
                    <li class="head-nav__item">
                            <a href="/users/signin" class="head-nav__link">
                                Login
                            </a>
                   </li>
            
            
                   <li class="head-nav__item">
                      <a href="/users/signup" class="head-nav__link">
                        Registrarse
                       </a>
                  </li>
                   <% } %>
            
                  
                   <li class="head-nav__item-cart">
                      <a href="/shopcart/" class="head-nav__link">
                        <i class="fas fa-2x fa-shopping-cart"></i>
                        <% if(session.cart) { %>
                          <div class="cart-items"><%= session.cart.totalQty%></div>
                        <% } %>
                      </a>
                  </li>
                     
                  </ul>



    </nav>


<div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Agregue un nuevo producto</h3>
      </div>
      <div class="card-body">
        <form action="/proddos/new-proddos" method="POST">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" autofocus/>
          </div>
         <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="title" autofocus/>
          </div>
          <div class="form-group">
              <input type="text" name="image" class="form-control" placeholder="imagen 1" autofocus/>
            </div>
            <div class="form-group">
              <input type="text" name="imagedos" class="form-control" placeholder="imagen 2" autofocus/>
            </div>
            <div class="form-group">
              <input type="text" name="imagetres" class="form-control" placeholder="imagen 3" autofocus/>
            </div>
                   <div class="form-group">
              <input type="text" name="description" class="form-control" placeholder="descripcion" autofocus/>
            </div>
                   <div class="form-group">
              <input type="text" name="price" class="form-control" placeholder="precio" autofocus/>
            </div>
                   
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  
<div class="col-12">
    <!-- Main Content -->
    <main class="row">
  
        <!-- Category Products -->
        <div class="col-12">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-12 text-center text-uppercase">
                            <h2>Computers</h2>
                        </div>
                        <form action="/searchback" method="GET">
                          <div class="form-group" >
                              <div class="input-group">
                                  <input type="text"  name="search" class="form-control border-dark" placeholder="Buscar productos" required>
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                    </div>
                    <div class="row">
                          <% proddos.forEach(function (proddo) { %>
  
                        <!-- Product -->
                        <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                            <div class="col-12 bg-white text-center h-100 product-item">
                                <div class="row h-100">
                                    <div class="col-12 p-0 mb-3">
                                        <a href="/proddosredirect/<%= proddo.id %>">
                                            <img src="<%= proddo.image %>" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-12 mb-3">
                                          <%= proddo.title %> 
                                    </div>
                                    <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                $<%= proddo.price %> 
                                            </span>
                                        
                                    </div>
                                    <a class="btn btn-danger" href="/proddos/delete/<%= proddo.id %>">
                                        Eliminar
                                    </a>
                                    <a class="btn btn-primary" href="/proddos/edit/<%= proddo.id %>">
                                        Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Product -->
                        <% }) %>
  
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Products -->



        <div class="col-12">
          <div class="row">
                <!-- pagination -->
                <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                  <nav  class="mx-auto" style="margin-bottom: 50px">
                    <ul class="pagination">
                      <!-- FIRST ITEM -->
                      <% if(current == 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">First</a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/proddosback/1">First</a>
                        </li>
                      <% } %>
                      <!-- ITEMS  -->
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if(i !== 1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">...</a>
                        </li>
                      <% } %>
                      <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if(i == current) { %>
                          <li class="page-item active">
                            <a class="page-link" href="<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/proddosback/<%= i %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                           <li class="page-item disabled">
                             <a class="page-link" href="#">...</a>
                           </li>
                        <% } %>
                      <% } %>
                      <!-- LAST ITEM -->
                      <% if(current == pages) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">
                            Last
                          </a>
                        </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link" href="/proddosback/<%= pages %>">
                            Last
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
                <% } %>
              </div>
            </div>
    

          </main>
          <!-- Main Content -->
        </div>
  
  


        <script src="/script/menu.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

